.sysadmin-background {
    background-color: white; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
     width: 100vw;  
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem 0; /* Optional shadow for a subtle effect */
}



